.box{
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
}
/*.box{*/
    /*box-pack: start | end | center | justify;*/
    /*旧语法 主轴对齐：左对齐（默认） | 右对齐 | 居中对齐 | 左右对齐*/
    /*justify-content: flex-start | flex-end | center | space-between | space-around;*/
    /*新语法 主轴对齐方式：左对齐（默认） | 右对齐 | 居中对齐 | 两端对齐 | 平均分布*/
/*}*/
.box-pc{
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.box-pe{
    -webkit-box-pack: end;
    -moz-justify-content: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.box-pj{
    -webkit-box-pack: justify;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.box-psa{
    -moz-justify-content: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
/*.box{*/
    /*box-align: start | end | center | baseline | stretch;*/
    /*交叉轴对齐：顶部对齐（默认） | 底部对齐 | 居中对齐 | 文本基线对齐 | 上下对齐并铺满*/
    /*align-items: flex-start | flex-end | center | baseline | stretch;*/
    /*交叉轴对齐方式：顶部对齐（默认） | 底部对齐 | 居中对齐 | 上下对齐并铺满 | 文本基线对齐*/
/*}*/
.box-ac{
    -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}
.box-ae{
    -webkit-box-align: end;
    -moz-align-items: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.box-ab{
    -webkit-box-align: baseline;
    -moz-align-items: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
}
.box-as{
    -webkit-box-align: stretch;
    -moz-align-items: baseline;
    -webkit-align-items: baseline;
    align-items: baseline;
}
.box-nhor{
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.box-rhor{
    -webkit-box-pack: end;
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.box-nver{
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.box-rver{
    -webkit-box-pack: end;
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
}
.box-fw{
	word-break: break-all;
	-moz-box-lines: multiple; /*Firefox*/
    -webkit-box-lines: multiple; /*Safari,Opera,Chrome*/
    box-lines: multiple;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap:wrap ;
	flex-wrap: wrap;
}
.box-fwr{
	 -moz-box-lines: multiple; /*Firefox*/
    -webkit-box-lines: multiple; /*Safari,Opera,Chrome*/
    box-lines: multiple;
	word-break: break-all;
	-ms-flex-wrap:  wrap-reverse;
	-webkit-flex-wrap: wrap-reverse;
	flex-wrap: wrap-reverse;
}
.box-fg1{
    -webkit-box-flex: 1.0;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
.box-fg2{
    -webkit-box-flex: 2.0;
    -moz-flex-grow: 2;
    -webkit-flex-grow: 2;
    flex-grow: 2;
}
.box-fg3{
    -webkit-box-flex: 3.0;
    -moz-flex-grow: 3;
    -webkit-flex-grow: 3;
    flex-grow: 3;
}
.box-fg4{
    -webkit-box-flex: 4.0;
    -moz-flex-grow: 4;
    -webkit-flex-grow: 4;
    flex-grow: 4;
}
.box-fs1{
    -webkit-box-flex: 1.0;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
}
.box-fs2{
    -webkit-box-flex: 2.0;
    -moz-flex-shrink: 2;
    -webkit-flex-shrink: 2;
    flex-shrink: 2;
}
.box-fs3{
    -webkit-box-flex: 3.0;
    -moz-flex-shrink: 3;
    -webkit-flex-shrink: 3;
    flex-shrink: 3;
}
.box-fs4{
    -webkit-box-flex: 4.0;
    -moz-flex-shrink: 4;
    -webkit-flex-shrink: 4;
    flex-shrink: 4;
}
.box-o1{
    -webkit-box-ordinal-group: 1;
    -moz-order: 1;
    -webkit-order: 1;
    order: 1;
}
.box-o2{
    -webkit-box-ordinal-group: 2;
    -moz-order: 2;
    -webkit-order: 2;
    order: 2;
}
.box-o3{
    -webkit-box-ordinal-group: 3;
    -moz-order: 3;
    -webkit-order: 3;
    order: 3;
}