# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
mobiscroll 2.17.1（整理版）/city.data.js
mobiscroll 2.17.1（整理版）
mobiscroll 2.17.1（破解版）/css/icons_mobiscroll.eot
mobiscroll 2.17.1（破解版）
Mobiscroll 3.0 全版本破解版/Djcn-M-AngularJS-master.zip
Mobiscroll 3.0 全版本破解版
mobiscroll3.0整理版/city.data-3.js
mobiscroll3.0整理版
mobisscroll-master分拆版/Split/css/icons_mobiscroll.eot
mobisscroll-master分拆版
mobisscroll3.0完整破解版/css/icons_mobiscroll.eot
mobisscroll3.0完整破解版
