/******我们*******/
ul{
    &  > li{
        color: #fff;
    }
    li{
        a{
            color: #fff;
            font-family: "微软雅黑";
        }
    }
}
a{
  color: green;
  font-family: "微软雅黑";  
}
@i