<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div id="app">
			<my-component v-bind:data="items"></my-component>
		</div>
		<template id="template">
			<ul>
				<li v-for="item in data">{{item.text}}</li>
			</ul>
		</template>
		<script src="../vue.js"></script>
		<script>
		Vue.component("my-component",{
			template:"#template",
			props:{
				data:Array
			}
		})
		
		new Vue({
			el:"#app",
			data:{
				items:[{
					text:"fsf",
				},{
					text:"fsf4243",
				},]
			}
		})
			
		</script>
	</body>
</html>