
.mt_body {
    height: 400px;
    overflow: hidden;
    position: relative;
}
.mt_panel {
    background-color: #f7f7f7;
    padding: 10px 0 0;
}
.mt_panel h3 {
    color: #4eccc4;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}
.mt_year, .mt_month, .mt_day, .mt_hour, .mt_minute, .mt_second {
    float: left;
    height: 50%;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
    width: 33.33%;
}
.mt_body ul li {
    color: #555;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
}
.mt_indicate, .mt_indicate::after {
    border-top: 1px solid #e9e9e9;
    font-size: 0;
    height: 0;
    position: absolute;
    top: 78px;
    width: 100%;
}
.mt_indicate::after {
    content: "";
    top: 40px;
}
.mt_indicate.cate2 {
    top: 280px;
}
.mt_body li.selected {
    color: #4eccc4;
}
.mt_body ul .mt_note {
    color: #000;
    font-size: 12px;
}
.mt_confirm {
    margin-top: 10px;
    overflow: hidden;
    text-align: center;
}
.mt_ok, .mt_cancel, .mt_setnow {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #4eccc4 -moz-use-text-color -moz-use-text-color #4eccc4;
    border-image: none;
    border-style: solid none none solid;
    border-width: 1px medium medium 1px;
    box-sizing: border-box;
    color: #4eccc4;
    display: inline-block;
    float: left;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
    width: 33.33%;
}
.mt_ok {
    margin-left: -1px;
}
.mt_cancel, .mt_setnow {
}
.mt_mask {
    background: #000 none repeat scroll 0 0;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.5s linear 0s;
    visibility: hidden;
    width: 100%;
    z-index: 10;
}
.mt_mask.show {
    opacity: 0.25;
    visibility: visible;
}
.mt_poppanel {
    bottom: 0;
    height: auto;
    left: 0;
    position: fixed;
    transform: translate3d(0px, 100%, 0px);
    transition: transform 0.3s ease-in-out 0s;
    width: 100%;
    z-index: 11;
}
.mt_poppanel.show {
    transform: translate3d(0px, 0px, 0px);
}
.mt_sepline {
    border-top: 1px solid #4eccc4;
    clear: both;
    height: 0;
    width: 100%;
}
