html, body, .container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #ebebeb;
}

img {
  width: 100%;
}

.container {
  position: absolute;
  left: 0;
  top: 0;
}
.container > header, .container > .content, .container > footer {
  position: absolute;
  right: 0;
  left: 0;
}
.container > header, .container > footer {
  height: 4rem;
  text-align: center;
  z-index: 1;
  line-height: 4rem;
}
.container > header {
  background-color: #4898f0;
  padding: 0 1.5rem;
  top: 0;
}
.container > footer {
  background-color: #bfbfbf;
  bottom: 0;
}
.container > header > i {
  float: left;
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
  line-height: 4rem;
}
.container > header > p {
  color: #fff;
  font-size: 1.6rem;
}
.container > footer > a {
  font-size: 1.6rem;
  color: #fff;
}
.container > .content {
  top: 4rem;
  bottom: 4rem;
  overflow: auto;
}
.container > .content > .panel {
  clear: both;
}
.container > .content > .panel > .panel-heading {
  color: #737373;
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
}
.container > .content > .panel > .panel-body {
  padding: 0 1.5rem;
  background-color: #fff;
}
.container > .content > .panel > .panel-bodyed {
  padding: 0 1rem;
}

.panel-body > .col-table {
  display: table;
  width: 100%;
  padding: 1.5rem 0;
  border-bottom: 1px solid #ddd;
}
.panel-body > .col-table:last-child {
  border-bottom: 0;
}
.panel-body > .col-table > .col-table-left, .panel-body > .col-table > .col-table-right {
  display: table-cell;
  vertical-align: top;
}
.panel-body > .col-table > .col-table-left {
  color: #262626;
  font-size: 1.6rem;
  width: 6rem;
}
.panel-body > .col-table > .col-table-left > i {
  color: #737373;
  font-size: 1.6rem;
}
.panel-body > .col-table > .col-table-left > i.uk-icon-map-marker {
  padding: 0 0.4rem;
}
.panel-body > .col-table > .col-table-right {
  padding-left: 2rem;
  color: #737373;
  font-size: 1.6rem;
}
.panel-body > .col-table > .col-table-right > span {
  color: #4794e6;
}
.panel-body > .col-table > .col-table-right > span:first-child {
  padding-right: 1.5rem;
}
.panel-body > .reason {
  padding: 0.75rem 0;
}
.panel-body > .reason > span {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  margin: 0.75rem 0.5rem;
  color: #737373;
  font-size: 1rem;
  border-radius: 3px;
  cursor: pointer;
}
.panel-body > .reason > span.active {
  background-color: #4898f0;
  color: #fff;
  border: 1px solid #4898f0;
}

.inputreason {
  margin-top: 3rem;
  margin-bottom: 10rem;
  padding: 1.5rem;
  background-color: #fff;
}
.inputreason > .textarea {
  resize: none;
  width: 100%;
  color: #999999;
  font-size: 1.6rem;
  height: 20rem;
  border: 0;
}

.news-icon {
  background-color: #fff;
  width: 100%;
}
.news-icon.active {
  position: fixed;
  border-bottom: 1px solid #ddd;
}
.news-icon > ul > a:last-child > li {
  border-right: 0;
}
.news-icon > ul > a > li {
  float: left;
  text-align: center;
  font-size: 1.2rem;
  border-right: 0.1rem solid #ddd;
  width: 19.5%;
  padding: 0.5rem 0;
}
.news-icon > ul > a > li > i {
  display: block;
  color: #2193e3;
  font-size: 3rem;
  height: 3rem;
}
.news-icon > ul > a > li > span {
  display: block;
  font-size: 1rem;
  font-weight: normal;
  margin-top: 0.5rem;
}

.pic > .pic-list {
  width: 25%;
  float: left;
}
